// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

/* MoviApp */

@import '../css/fonts/fonts.css';

body {
  font-family: 'raleway';
  font-weight: 600;
}
.carousel-caption a {
  color: #fff;
}
section#block-block-5,
section#block-views-carrusel-block {
  margin: 30px auto;
}
.block-header {
  width: 100%;
  text-align: center;
}
.block-header img {
  width: 85%;
  margin: 0 auto;
}
.front .page-header {
  display: none;
}
.page-header {
  color: #16a085;
}
.que-es-block,
.manual-block,
.biciviajes-block,
.block-descargas {
  margin: 1em auto;
}
#block-menu-menu-crud-moviapp ul>li {
  float: left;
}
