@font-face {
  font-family: 'raleway';
  font-style: normal;
  font-weight: normal;
  src:  url('ralewaysemibold.ttf') format('truetype');
}
@font-face {
  font-family: 'raleway';
  font-style: normal;
  font-weight: bolder;
  src:  url('ralewayextrabold.ttf') format('truetype');
}
